// colors
$color-primary: #5ad0a4;
$color-primary-light:#353b48;
$color-primary-dark: #2f3640;
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;

// GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;